<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="whatever.smartheater">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <activity
            android:name=".activities.TransitionFirstActivity"
            android:label="@string/app_name" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.SlidingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TransitionFirstActivity" >

        </activity>

        <!--activity
            android:name=".NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer" >
        </activity-->


    </application>

</manifest>
